.google-map {
    width: 100% !important;
    height: 500px !important;
}

@media screen and (min-width: 992px) {
    .google-map {
        width: 60% !important;
        height: 100vh !important;
    }
}

@media screen and (min-width: 1200px) {
    .google-map {
        width: 70% !important;
        height: 100vh !important;
    }
}